<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="InetBankingSuite">
<parameter name="browser" value="chrome" />
<listeners>
<listener class-name="com.inetBanking.utilities.Reporting"></listener>
</listeners>

	<test thread-count="5" name="BankingApp Test">
		
		<classes>
			
			<class name="com.inetBanking.testCases.TC_LoginTest_001" />
			
			 <class name="com.inetBanking.testCases.TC_LoginDDT_002" />
			<class name="com.inetBanking.testCases.TC_AddProductsTest_003"/>
			<class name="com.inetBanking.testCases.TC_LoginTest_004" />
			
		</classes>
		
	</test> <!-- Test -->
</suite> <!-- Suite -->